<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>ABOUT ME 😎</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit 😲. Ullam, itaque reprehenderit eius 😔, id laborum obcaecati illo ab quia consequatur adipisci illum eligendi doloremque error nostrum sequi voluptates placeat accusantium odit. 🤓
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nihil, sequi dolore repudiandae velit asperiores eos blanditiis vero, ipsam veniam, autem ex! Animi natus ipsam veritatis earum error quae velit? 😈
    </p>
    <ul>
        <li>JS</li>
        <li>HTML</li>
        <li>CSS</li>
    </ul>
    
    <a href="/">go back</a>
  </body>
</html>
